<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PARTAYY</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>
    <body>
        <script src="script.js" async defer></script>
        <section id="banner">
            <nav id="top_nav">
            <h1>PARTAYY</h1>
                <ul>
                    <li><a href="#sign_out">Sign Out</a></li>
                </ul>
            </nav>
        </section>
        <section id="add_event">
            <h1>
                EVENT DETAILS
            </h1>
        </section>
        
        
        <footer>
            <p>Did you successfully RSVP for or add a party? Let me know by giving me some feedback!</p>          
        </footer>
    </body>

<html>