<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PARTAYY</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PARTAYY</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="text-light" href="#">Log Out</a></li>
        </ul>
      </div>
    </nav>
   <div class="row">
    <div class="col-sm-6">
      <div class="card border-primary mb-3 mt-5">
        <div class="card-body text-primary">
          <h5 class="card-title">NEW EVENT</h5>
            <p class="card-text">Organizing a party soon? </p>
            <a href="#" class="btn btn-primary">Add New Event</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
    <div class="card border-primary mb-3 mt-5">
      <div class="card-body text-primary">
        <h5 class="card-title">VIEW EVENTS</h5>
        <p class="card-text">Looking to have some fun?</p>
        <a href="#" class="btn btn-primary">View Upcoming Events</a>
      </div>
    </div>
  </div>
</div>
  </body>
</html>