<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PARTAYY</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    </head>
    <body>
        <script src="script.js" async defer></script>
        <section id="banner">
            <nav id="top_nav">
            <h1>PARTAYY</h1>
            </nav>
        </section>

        <section id="signin">
            <form id="signin_form">
                <fieldset>
                    <label>Email:</label>
                    <input class="input1" type="text" name="email" size="60"><br>

                </fieldset>
                <fieldset>
                    <label>Password:</label>
                    <input class="input2" type="text" name="password" size="60"><br>

                </fieldset>
                <button id="submitdetails" type="submit">
                    Send
                </button>
            </form>
        </section>
        
    </body>
 </html>